$first-font: 'Montserrat', sans-serif;
$second-font: 'Kaushan Script', cursive;
$third-font: 'Roboto', sans-serif;
$first-color: #f38181;
$second-color: #fce38a;
$third-color: #eaffd0;
$fourth-color: #95e1d3;
$fifth-color: #999999;
$sixth-color: #333333;
$seventh-color: #ffffff;